<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <div class="form">
        <form method="post" action="/">
            <h1>Hello World!!! 👋👋👋</h1>
            <h2>Welcome to Class 35th</h2>
            <input name="number" placeholder="Enter your phone number" autocomplete="off" />
            <button type="submit" name="button">Submit</button>
        </form>
    </div>

</body>
</html>